/*.me {
    display: flex;
    column-gap: 50px;
    margin-top: 40px;

    .me-presentation {
        width: 50%;
        margin-top: -30px;

        h2 {
            display: flex;
            margin-top: 100px;
        }

        h5 {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

        }
    }
} */

.me {
    display: flex;
    column-gap: 40px;
   /* margin-top: -190px;*/
}

.presentation {
    width: 50%;
}

img {
    width: 100%;
    margin-bottom: 30px;
}

figure.portrait {
    width: 50%;
}

@media (max-width: 800px) {
    .me {
        display: block;
    }
    .presentation {
        width: 100%;
    }
    figure.portrait {
        margin-top: 38px;
        width: 100%;
    }
}