/*.me {
    display: flex;
    column-gap: 50px;
    margin-top: 40px;

    .me-presentation {
        width: 50%;
        margin-top: -30px;

        h2 {
            display: flex;
            margin-top: 100px;
        }

        h5 {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

        }
    }
} */

.me {
    display: flex;
    column-gap: 60px;
}

.me-2 {
    display: flex;
    column-gap: 60px;
    margin-bottom: 30px;
}

.presentation {
    width: 50%;

    h2 {
        margin-top: 40px;
    }

    h5 {
        margin-top: 30px;
    }
}

.presentation-2 {
    width: 50%;

    h5 {
        margin-top: 90px;
    }
}

.presentation-4 {
    width: 90%;

    h5 {
        margin-top: 40px;
    }
}

img {
    width: 100%;
    margin-bottom: 30px;
}

figure.portrait-me {
    width: 50%;
}

figure.paint {
    width: 40%;
}


@media (max-width: 800px) {
    .me {
        display: block;
    }

    .presentation {
        width: 100%;
    }

    figure.portrait-me,
    figure.paint {
        margin-top: 38px;
        width: 100%;
    }
}

figure.plinn {
    width: 50%;
    margin-right: 80px;
}

.plinn-block {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.top-right {
    width: 20%;
    display: block;
	margin: auto;
    transition: transform 1s;
    transform-origin: top right;
}
.top-right:hover {
	transform: rotate(45deg);
}