$medium: 850px;
$large: 1180px;


/* ========= WORK ======= */


/* ========= CV ======= */

@media (max-width: 800px) {
  .cntainer ul {
    display: block;
    margin-top: 100px;
  }

  ul {
    width: 90%;
  }
}


/* ========= ABOUT ======= */

@media (max-width: 800px) {
  .me {
    display: block;
  }

  .presentation {
    width: 100%;
  }

  figure.portrait-me,
  figure.paint {
    margin-top: 38px;
    width: 100%;
  }

  .plinn-block {
    flex-direction: column;
    margin-top: 20px;
  }

  .top-right {
    width: 50%;
    display: block;
    margin: auto;
  }
}




/* ========= CONTACTS ======= */