/*.findme {
    display: flex;
    align-items: left;


    @include texth2;

    a {
        margin: 40px 40px;
        text-decoration: none;
        font-size: 32px;
        text-align: left;
        background-color: $main-background-color;
        color: $text-primary-color;
        @include textdefault;
        text-align: left;
    }
}*/

section {
  margin-top: 180px;
}

figure.smile {
  width: 20%;
  margin-right: 80px;
}

.smile-block {
  display: flex;
  flex-direction: row;
}

.contacts-home {
  display: flex;
  align-items: left;
  height: 5rem;
  margin-top: 180px;

  a {
    margin-right: 40px;
    color: $text-primary-color;
    text-decoration: none;
    font-size: 2rem;
  }

  a:hover {
    color: #e61287;
  }
}


.presentation-3 {
  width: 90%;

  h2 {
    margin-top: 40px;
  }
}