.findme {
    display: flex;
    align-items: left;
    height: 5rem;
    margin-top: 10px;
    @include texth2;

    a {
        margin-right: 40px;
        text-decoration: none;
        font-size: 32px;
        margin-top: 40px;
        text-align: left;
        background-color: $main-background-color;
        color: $text-primary-color;
        @include textdefault;
        text-align: left;
    }
}