/*.grid-container-cv {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    grid-template-rows: repeat(6,1fr);
    row-gap: 20px;
}
*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p.desc {
    margin: 20px 0 20px;
    text-align: left;
    margin-bottom: 80px;
}

p.desc-2,
.desc-3 {
    margin: 20px 0 20px;
    text-align: left;
}

.desc-3 {
    margin-bottom: 80px;
    border-bottom: 0.5px solid white;
}
.desc-3:hover {
    color: #ff0c8e;
    border-bottom: 0.5px solid #ff0c8e;;
}

.cntainer ul {
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    width: 70%;
}
