/*.grid-container-cv {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
    margin-left: 60px;
    margin-right: 60px;
    grid-template-rows: repeat(6,1fr);
    row-gap: 20px;
}
*/
.cv {
display: flex;
column-gap: 25px;
margin-top: 30px;
}

.experience {
    width: 50%;
}