
 /*   .copy {
        display: flex;
        text-align: center;
        //margin-bottom: 40px;
        background-color: $main-background-color;
        color: $text-primary-color;
        @include mainfont;
        @include textsmal;
    }

    footer {
        display: flex;
    }
*/