.info {
  background: black;
  height: 50px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
    p {
      @include mainfont;
      @include textmedium;
    }
  }