/* header {
    h1 {
      @include mainfont;
      @include textmedium;
    }
  }
*/
header {
  background-color: $primary-color;
  position: fixed;
  top: o;
  left: 0;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  flex-direction: row-reverse;
}
nav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  color: #fff;
  text-decoration: none;
  &.active {
    text-decoration: underline;
  }
}
ul {
  display: flex;
  list-style: none;
  column-gap: 10px;
  color: #fff;
}

