/*main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 540px;
    margin: 0 auto;
  } */
/*@media (min-width: 850px) {
    main {
      max-width: 100%;
      padding: 30px;
    }
  }
  @media (min-width: 1180px) {
    main {
      max-width: 1130px;
    }
  }*/

/* ========= COMEÇA AQUI ========= */
body {
  display: flex;
  flex-direction: column;
  @include mainfont;
  font-weight: 400;
  line-height: 146%;
  background-color: $main-background-color;
  color: $text-primary-color;
  height: 100svh;
}

.container {
  flex: 1;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}



/* ====== BODY ====== 
body {
  display: flex;
  flex-direction: column;
  height: 100svh;
  @include mainfont;
  background-color: $main-background-color;
  color: $text-primary-color;
}

/* ====== HEADER & FOOTER ====== 
header,
footer {
  background-color: $main-background-color;
  color: $text-primary-color;
  @include mainfont;
  @include textsmal;
}

/* ====== START MAIN ====== 
main {
  flex-grow: 1;
  display: flex;
  /* align-items: center;*/

/* justify-content: center;
  flex-direction: column;*/

/*padding: 30px 20px;*/
/*max-width: 540px;*/

/*margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
  background-color: $main-background-color;
  color: $text-primary-color;
}*/

/* ====== STYLE ====== */
h1 {
  @include texth1;
  margin: 0;
}

h2 {
  @include texth2;
  margin: 0;
}

h3 {
  @include texth3;
}

h4 {
  @include texth4;
  margin-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0.125rem;
}

h5 {
  @include textdefault;
}

p {
  justify-content: left;
  @include mainfont;
  @include textsmal;

}

/*SECÇÃO 1  - APRESENTAÇÃO
.presentation {
  h1 {
    display: flex;
    margin-top: 60px;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      color: #FF2CF7;
    }
  }
}*/



/* SECTION */
section {
  margin-top: 180px;
}

/* ==== intro ==== */
.intro {
  padding: 60px 0 4px 0;
}
.contacts-home {
  display: flex;
  align-items: left;
  height: 5rem;
  margin-top: 180px;

  a {
    margin-right: 40px;
    color: $text-primary-color;
    text-decoration: none;
    font-size: 32px;
  }

  a:hover {
    color: #f3ff0c;
  }
}



/* END MAIN */

/*SECÇÃO 3 - IMAGENS

.flex-grid {
  width: 100%;
}

.column {
  background: #90ee90;
}

.column:not(:last-child) {
  margin-bottom: 30px;
}

figure {
  margin: 0;
  position: relative;
  background: #ccc;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 850px) {
  .flex-grid {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }

  .column {
    width: 33.33%;
  }

  .column:not(:last-child) {
    margin-bottom: 0;
  }
}*/