/*main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 540px;
    margin: 0 auto;
  } */
  /*@media (min-width: 850px) {
    main {
      max-width: 100%;
      padding: 30px;
    }
  }
  @media (min-width: 1180px) {
    main {
      max-width: 1130px;
    }
  }*/

* {
  margin: 0;
  padding: 0;
}
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100svh;
    &.about {
      background-color: tomato;
    }
    &.contacts {
      background-color: yellow;
    }
    &.home {
      background-color: lightblue;
    }
  }
  h1 {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    color: white;
    text-align: center;
  }
  p {
    @include mainfont;
    @include textsmal;
  }
  header,
  footer {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
  }
  
  /* START MAIN */
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    max-width: 540px;
    margin: 0 auto;
  }
  @media (min-width: 850px) {
    main {
      max-width: 100%;
      padding: 30px;
    }
  }
  @media (min-width: 1180px) {
    main {
      max-width: 1130px;
    }
  }
  /* END MAIN */
  
  .flex-grid {
    width: 100%;
  }
  .column {
    background: #90ee90;
  }
  .column:not(:last-child) {
    margin-bottom: 30px;
  }
  figure {
    margin: 0;
    position: relative;
    background: #ccc;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  }
  img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @media (min-width: 850px) {
    .flex-grid {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
    }
    .column {
      width: 33.33%;
    }
    .column:not(:last-child) {
      margin-bottom: 0;
    }
  }

