@mixin mainfont {
    font-family: 'Inter', Arial, sans-serif;
}

@mixin textsmal {
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 40px;
}

@mixin textmedium {
    font-size: 16px;
}
