.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.wrapper-intro {
  display: flex;
  margin-top: 200px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 40% 70%;
  gap: 6rem;

  h1 {
    text-transform: none;
  }
}

.wrapper-intro-2 {
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 4rem;

  h2 {
    text-transform: none;
  }
}

.wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 4rem;
  margin-top: 60px;
}

.wrapper-2 {
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
  gap: 4rem;
  margin-top: 60px;
}

.moodybh {
  margin-bottom: 30px;
}

a.moodybh {
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
&
  a:hover {
    background-color: black;
    color: white;
  }
}